.Logo {
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    /* margin: 0 0 0 200px; */
}

.Logo img {
    height: 100%;
}

@media (min-width:680px) {
    .Logo {
        margin: 0 0 0 49%;
    }    
}